In [81]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
data = soup.find_all('tr')
df1 = [[cell.text.strip() for cell in row.find_all('td')] for row in data]

df1 = pd.DataFrame(df1)

In [255]:
df = df1.copy()

In [256]:
df.columns = ['ranks', 'name', 'industry', 'revenue', 'revenue_growth', 'num_employee', 'headquarters']

In [257]:
df = df.dropna()

In [258]:
df['city'] = df['headquarters'].apply(lambda x: x.split(',')[0])

df['state'] = df['headquarters'].str.split(',').str[1].str.strip()

In [259]:
df= df.drop('headquarters', axis = 1)

In [260]:
df['revenue']= df['revenue'].str.replace(',', '').astype(int)

In [261]:
# df['revenue_growth'] = df['revenue_growth'].str.strip('%')
df['revenue_growth'] = df['revenue_growth'].str.strip('%').astype(float)

In [262]:
 df['revenue_growth'] = df['revenue_growth'].round().astype(int)

In [277]:
# df['num_employee'] = df['num_employee'].str.replace(',', '')
# df['num_employee'] = df['num_employee'].str.replace('4000[2]', '4000')

df['num_employee'] = df['num_employee'].str.replace(',', '').str.replace('4000[2]', '4000')

In [278]:
df['num_employee'] = df['num_employee'].astype(int)

In [286]:
df.to_csv('Fortune_Companies.csv', index=False)